<nav class="ui-g-12">
  <h1>logo</h1>
</nav>
<!-- <nav>
  <div class="row">
    <img src="assets/img/logo.png" alt="Omnifood Logo" class="logo">
    <ul class="main-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">Bike Rides</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav> -->
<div class="content">
  <div class="img-content"></div>
  <h2>speed bike pattaya</h2>
  <div class="bike-menu">
    <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-12">
      <p-card header="Advanced Card" subheader="Subheader" [style]="{width: 'auto'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="Card" src="assets/img/01.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
          numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
        </div>
        <p-footer>
          <button pButton type="button" label="BOOK NOW" class="ui-button-rounded ui-button-warning"></button>
        </p-footer>
      </p-card>
    </div>
    <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-12">
      <p-card header="Advanced Card" subheader="Subheader" [style]="{width: 'auto'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="Card" src="assets/img/07.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
          numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
        </div>
        <p-footer>
          <button pButton type="button" label="BOOK NOW" class="ui-button-rounded ui-button-warning"></button>
        </p-footer>
      </p-card>
    </div>
    <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-12">
      <p-card header="Advanced Card" subheader="Subheader" [style]="{width: 'auto'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="Card" src="assets/img/08.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
          numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
        </div>
        <p-footer>
          <button pButton type="button" label="BOOK NOW" class="ui-button-rounded ui-button-warning"></button>
        </p-footer>
      </p-card>
    </div>
    <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-12">
      <p-card header="Advanced Card" subheader="Subheader" [style]="{width: 'auto'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="Card" src="assets/img/03.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
          numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
        </div>
        <p-footer>
          <button pButton type="button" label="BOOK NOW" class="ui-button-rounded ui-button-warning"></button>
        </p-footer>
      </p-card>
    </div>
  </div>

  <div class="bike-menu">
    <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-12">
      <p-card header="Advanced Card" subheader="Subheader" [style]="{width: 'auto'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="Card" src="assets/img/06.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
          numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
        </div>
        <p-footer>
          <button pButton type="button" label="BOOK NOW" class="ui-button-rounded ui-button-warning"></button>
        </p-footer>
      </p-card>
    </div>
    <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-12">
      <p-card header="Advanced Card" subheader="Subheader" [style]="{width: 'auto'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="Card" src="assets/img/04.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
          numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
        </div>
        <p-footer>
          <button pButton type="button" label="BOOK NOW" class="ui-button-rounded ui-button-warning"></button>
        </p-footer>
      </p-card>
    </div>
    <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-12">
      <p-card header="Advanced Card" subheader="Subheader" [style]="{width: 'auto'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="Card" src="assets/img/05.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
          numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
        </div>
        <p-footer>
          <button pButton type="button" label="BOOK NOW" class="ui-button-rounded ui-button-warning"></button>
        </p-footer>
      </p-card>
    </div>
    <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-12">
      <p-card header="Advanced Card" subheader="Subheader" [style]="{width: 'auto'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="Card" src="assets/img/09.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
          numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
        </div>
        <p-footer>
          <button pButton type="button" label="BOOK NOW" class="ui-button-rounded ui-button-warning"></button>
        </p-footer>
      </p-card>
    </div>
  </div>
</div>

<!-- <div class="footer">
  <small>Copyright xxx</small>
</div> -->